{% extends 'bootstrap/base.html' %}

{% block title %}
   {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-default">
      <div class="container">
         <div class="navbar-header">
            <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expandable="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
               <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
            </ul>
            {% if g.search_form %}
            <form class="navbar-form navbar-left" method="get"
                    action="{{ url_for('main.search') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control',
                    placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
               {% if current_user.is_anonymous %}
               <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
               {% else %}
               <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a><li>
               <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
   </nav>
{% endblock %}

{% block content %}
   <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
         <div class="alert alert-info" role="alert">{{ message }}</div>
         {% endfor %}
      {% endif %}
      {% endwith %}

      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
   </div>
{% endblock %}

<!-- block exported by Flask-Bootstrap -->
{% block scripts %}
   <!-- calling code that already exists in the block so I don't overwrite it but just add to it with my code -->
   {{ super() }}
   <!-- Flask-Moment function to write the script tag to import Moment.js -->
   {{ moment.include_moment() }}
   {{ moment.lang(g.locale) }}
   <script> 
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src = "{{ url_for('static', filename='loading.gif') }}">');
            // using post jquery function to post to the flask server
            // then using javascript promises functins to deterimine what to do when the $.post function gets a return value.
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }

        // function to run when page is loaded that marks all the popup elements
        // creating anonymous function wrapped inside jquery keeps it from polluting the global namespace
        $(function() {
            // define timer here so available to mouse in and out function calls that are defined
            // within this closure.
            var timer = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    // setting timer so popups only show after time expires
                    timer = setTimeout(function() {
                        timer = null;
                        //xhr holds asynchronous request object created by $.ajax()
                        // $.ajax() returns a promise representing the asynchronous operation.
                        //  define the completion callback with the .done(function(){})
                        // .done(function(data){}) the data receives the returned response.
                        // the response is the html content that goes in the popover
                        // parsing the user name from the element that is target of hover
                        // not able to use the url_for function from Flask because we are 
                        // on the client side
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data){
                                    xhr = null
                                    // create and display popup here
                                    elem.popover({
                                        trigger: 'manual', 
                                        html: true, 
                                        animation: false, 
                                        container: elem, 
                                        content: data
                                    }).popover('show');
                                    // when Flask-Moment elements are added via Ajax, this function needs
                                    // to be called to appropriately render these elements.
                                    // it must create the javascript function on the server and send it
                                    // with the rendered html
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    // clear the timer var so if the user moves off the elememnt before the 
                    // timer function is called, < 1sec,  at the end of the second the popup
                    // will not show up.  If timer was not cleared it would show up eventhough
                    // the user had moved off the element.
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    // check for existence of the asynchronous request for the popup html that's 
                    // in the xhr variable created in the mouse over function above.
                    // if it exists then abort it so the asynchronous completion function that was 
                    // defined above doesn't get called.
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        // destroy popup here
                        elem.popover('destroy');
                    }
                }
            )
        });
        </script>

{% endblock %}
